<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-json.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="mainParent" class="">
        <article id="header">
            <section id="logo-box">
                <img src="logo.png" alt="">
                <p>VARVAULT</p>
            </section>
            <section id="search">
                <input type="text" placeholder="Search">
            </section>
            <section id="dark-mode-box" class="pointer">
                <i class="material-symbols-outlined moon">dark_mode</i>
                <i class="material-symbols-outlined sun">light_mode</i>
            </section>
            <section id="github-box">
                <svg class="pointer" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            </section>
        </article>
        <article id="sidebar">
            <strong>Getting Started</strong>
            <a href="/"                     class="<%= activeTab === 'ovrv' ? 'active' : '' %>">Overview</a>
            <a href="/"                     class="<%= activeTab === 'ovrv1' ? 'active' : '' %>">HTTP Request: Arduino</a>
            <a href="/"                     class="<%= activeTab === 'ovrv2' ? 'active' : '' %>">HTTP Request: Raspberry pi</a>
            <a href="/"                     class="<%= activeTab === 'ovrv3' ? 'active' : '' %>">HTTP Request: Jetson Nano</a>
            <strong>Methods</strong>
            <a href="/register"             class="<%= activeTab === 'regi' ? 'active' : '' %>">Registering</a>
            <a href="/generate-token"       class="<%= activeTab === 'gene' ? 'active' : '' %>">Generating a token</a>
            <a href="/add-variable"         class="<%= activeTab === 'addv' ? 'active' : '' %>">Adding a variable</a>
            <a href="/update-variable"      class="<%= activeTab === 'upda' ? 'active' : '' %>">Updating a variable</a>
            <a href="/delete-variable"      class="<%= activeTab === 'dele' ? 'active' : '' %>">Deleting a variable</a>
            <a href="/read-variable"        class="<%= activeTab === 'read' ? 'active' : '' %>">Reading a variable</a>
            <a href="/read-variable-all"    class="<%= activeTab === 'reaD' ? 'active' : '' %>">Reading all variables</a>
        </article>
        <article id="content">
            <% if (activeTab === 'ovrv') { %>
                <%- include('overview') %>
            <% } %>

            <% if (activeTab === 'regi') { %>
                <%- include('register') %>
            <% } %>
            
        </article>
    </div>
    <p id="message" class="hidden">Copied to Clipboard</p>
    <script src="functions.js"></script>
</body>
</html>